html,
body {
  margin: 0;
}
body {
  background-color: rgb(209, 209, 227);
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: rgb(96, 141, 96);
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 20%;
  background-color: rgb(96, 141, 96);
  padding: 0px 20px 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  padding: 0;
}

.header {
  background-color: rgb(157, 192, 157);
  min-height: 150px;
}
.header #img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#logo {
  position: center;
  margin-left: 50px;
}
#logo-logo {
  margin-left: 250px;
  margin-top: 20px;
}
.content {
  background-color: whitesmoke;
  min-height: 300px;
  padding: 20px;
}
.footer {
  background-color: rgb(157, 192, 157);
  min-height: 150px;
}
li {
  color: rgb(96, 141, 96);
  font-size: 15px;
  margin: 10px 0px;
  padding: 0px 10px;
  border: 1px solid rgb(96, 141, 96);
  border-radius: 10px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}
a:hover {
  background-color: rgb(157, 192, 157);
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgb(157, 192, 157);
}
a {
  color: rgb(20, 20, 20);
  text-decoration: ;
}
table {
  position: center;
  margin-left: 10%;
  font-size: 150%;
}
table thead th {
  border: solid 1px rgb(24, 24, 24);
  width: 250;
  align: center;
  color: rgb(20, 19, 19);
}
table tbody td {
  border: solid 1px rgb(14, 14, 14);
  width: 250;
  align: center;
  color: rgb(12, 12, 12);
}

#raioX {
  color: rgb(32, 145, 107);
  font-size: 200%;
  text-align: center;
}
h1 {
  text-align: center;
}
